<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Number Scan component</ion-title>
  </ion-navbar>
  <div class="tabs">
    <button (click)="toQRPage()">QR код</button >
    <button href="" (click)="toNumberPage()">Номер кода</button >
  </div>
</ion-header>

<ion-content>
  <div>
    <form>
      <ion-list>
        <ion-item>
          <ion-input class="number-field" placeholder="Введите номер:" type="text" value=""></ion-input>
        </ion-item>
      </ion-list> 
      <button ion-button full type="submit">Найти</button>
    </form> 
  </div>
</ion-content>


<!-- Generated template for the QrScanComponent component -->

