qr-scan {
    .tabs{
        display: flex;
        a{
            color: black;
            width: 50%;
            display: block;
            text-align: center;
            padding: 20px;
            background: lightcyan;
            box-shadow: 2px 2px 0px 0px grey;
            text-decoration: none;
        }
    }
}
